@import "tailwindcss";

.hero-bg {
    background-image: url("https://ik.imagekit.io/9rldi0s2f8/harbor.jpg?updatedAt=1749959103767");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}